# Игнорировать папку .idea (настройки IntelliJ IDEA)
.idea/


# Игнорировать папку out (выходные файлы сборки)
out/

# Игнорировать все .iml-файлы (файлы проекта IntelliJ IDEA)
*.iml

# Игнорировать все .target-файлы (файлы проекта IntelliJ IDEA)
target/